<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
</head>
<body>
    <div id="container">
        <header>
        <div id="logo">
            <a id="indexHeaderLogo" href="@Url.Content("~/")" class="menulink">
                Hotel System Service
            </a>
        </div>


        <div id="menu">
            @*<div class="option" style="border-left: 2px dashed #444444">
                <a href="@Url.Content("~/")" class="menulink">
                    ● Home
                </a>
            </div>
            <div class="option">
                <a href="@Url.Action("Add","AddReservation")" class="menulink">
                    ● Add
                </a>
            </div>
            <div class="option">
                <a href="@Url.Action("Manage","Manage")" class="menulink">
                    ● Manage
                </a>
            </div>
            <div class="option">
                <a href="@Url.Action("Register","Account")" class="menulink">
                    ● Register
                </a>
            </div>*@

            @Html.Partial("_LoginPartial")
            @*
        <div class="option">
            <a href="link" class="menulink">
                ● test
            </a>
        </div>*@

        </div>
        </header>

            <div id="content">
                 @RenderBody()
            </div>

            <div id="footer">
                Copyright Kacper Paśnik <br />
                <div style="text-shadow: 0px 1px 3px white">
                <a href="http://github.com/kacperpasnik">Github</a>
                </div>
            </div>
    </div>
            @RenderSection("Scripts", required: false)
</body>
</html>